---
Language: Cpp

UseTab: Never
IndentWidth: 4
AccessModifierOffset: -4
# ColumnLimit: 120
ColumnLimit: 140

BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakInheritanceList: BeforeComma
BreakConstructorInitializers: BeforeComma
AlwaysBreakTemplateDeclarations: true

AllowShortFunctionsOnASingleLine: Inline

SpaceAfterCStyleCast: false

#SeparateDefinitionBlocks: Always

CompactNamespaces: true
FixNamespaceComments: true
ShortNamespaceLines: 0

BinPackArguments: false
BinPackParameters: false

AllowShortIfStatementsOnASingleLine: false

IndentCaseLabels: false

AlignEscapedNewlines: Left
AlignTrailingComments: true
AlignArrayOfStructures: Left
# AlignArrayOfStructures: Right
AlignOperands: AlignAfterOperator
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations: AcrossComments

# LambdaBodyIndentation: LBI_Signature

...



# AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
# AlignConsecutiveMacros: AcrossEmptyLinesAndComments
# AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
# AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments


# ---
# BasedOnStyle: Mozilla
# AccessModifierOffset: '-2'
# AlignAfterOpenBracket: AlwaysBreak
# AlignConsecutiveMacros: 'true'
# AlignConsecutiveAssignments: 'true'
# AlignConsecutiveDeclarations: 'true'
# AlignEscapedNewlines: Left
# AlignOperands: 'true'
# AlignTrailingComments: 'true'
# AllowAllArgumentsOnNextLine: 'false'
# AllowAllConstructorInitializersOnNextLine: 'false'
# AllowAllParametersOfDeclarationOnNextLine: 'false'
# AllowShortBlocksOnASingleLine: 'false'  # / 'true'
# AllowShortCaseLabelsOnASingleLine: 'false'  # / 'true'
# AllowShortFunctionsOnASingleLine: None  # / All
# AllowShortIfStatementsOnASingleLine: Never  # / Always
# AllowShortLambdasOnASingleLine: None  # / All
# AllowShortLoopsOnASingleLine: 'false'  # / 'true'
# AlwaysBreakAfterDefinitionReturnType: None
# AlwaysBreakAfterReturnType: None
# AlwaysBreakBeforeMultilineStrings: 'false'
# AlwaysBreakTemplateDeclarations: 'Yes'
# #BinPackArguments: 'true'
# #BinPackParameters: 'true'
# BinPackArguments: 'false'
# BinPackParameters: 'false'
# BreakAfterJavaFieldAnnotations: 'false'
# BreakBeforeBinaryOperators: NonAssignment
# BreakBeforeBraces: Allman  # / Custom / Linux
# # BraceWrapping:
# #   AfterClass:      true
# #   AfterControlStatement: false
# #   AfterEnum:       true
# #   AfterFunction:   true
# #   AfterNamespace:  true
# #   AfterObjCDeclaration: true
# #   AfterStruct:     true
# #   AfterUnion:      true
# #   AfterExternBlock: true
# #   BeforeCatch:     false
# #   BeforeElse:      false
# #   IndentBraces:    false
# #   SplitEmptyFunction: false
# #   SplitEmptyRecord: false
# #   SplitEmptyNamespace: true
# BreakBeforeTernaryOperators: 'true'
# BreakConstructorInitializers: AfterColon
# BreakInheritanceList: AfterColon
# BreakStringLiterals: 'true'
# ColumnLimit: '120'
# CompactNamespaces: 'true'
# ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
# ContinuationIndentWidth: '2'
# Cpp11BracedListStyle: 'false'
# DerivePointerAlignment: 'false'
# DisableFormat: 'false'
# ExperimentalAutoDetectBinPacking: 'false'
# FixNamespaceComments: 'true'
# IncludeBlocks: Regroup
# IndentCaseLabels: 'true'
# IndentPPDirectives: AfterHash
# IndentWidth: '2'
# IndentWrappedFunctionNames: 'true'
# JavaScriptQuotes: Single
# JavaScriptWrapImports: 'true'
# KeepEmptyLinesAtTheStartOfBlocks: 'false'
# Language: Cpp
# NamespaceIndentation: Inner
# PointerAlignment: Right
# ReflowComments: 'true'
# SortIncludes: 'false' #'true'
# SortUsingDeclarations: 'true'
# SpaceAfterCStyleCast: 'false'
# SpaceAfterLogicalNot: 'false'
# SpaceAfterTemplateKeyword: 'false'
# SpaceBeforeAssignmentOperators: 'true'
# SpaceBeforeCpp11BracedList: 'true'
# SpaceBeforeCtorInitializerColon: 'true'
# SpaceBeforeInheritanceColon: 'true'
# SpaceBeforeParens: ControlStatements
# SpaceBeforeRangeBasedForLoopColon: 'true'
# SpaceInEmptyParentheses: 'false'
# SpacesBeforeTrailingComments: '2'
# SpacesInAngles: 'false'
# SpacesInCStyleCastParentheses: 'false'
# SpacesInContainerLiterals: 'true'
# SpacesInParentheses: 'false'
# SpacesInSquareBrackets: 'false'
# Standard: Latest
# TabWidth: '2'
# UseTab: Never

# ...
